<a href="https://colab.research.google.com/github/luan640/KNN---K-Nearest-Neighbors/blob/main/KNN_K_Nearest_Neighbors_Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## KNN - N Nearest Neighbors

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

### Carregando a base de dados

In [ ]:
iris = pd.read_csv("iris.csv")

### Verificando os atributos

In [ ]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Species      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
iris.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

### Dividindo os dados em treino e teste

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(iris.drop('Species',axis=1),iris['Species'],test_size=0.3)

### Verificando a forma dos dados

In [ ]:
X_train.shape,X_test.shape

((105, 4), (45, 4))

In [ ]:
y_train.shape,y_test.shape

((105,), (45,))

### Instânciando o algoritmo KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

### Treinando o algoritmo

In [ ]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

### Executando o KNN com o conjunto de teste

In [ ]:
resultado = knn.predict(X_test)
resultado

array(['Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa'], dtype=object)

### Executando novas amostras
#### Imputando valores manuais para o modelo prever.
##### Juntamente com o valor da probabilidade daquele valor ser correto. Por exemplo: O modelo previu que seria do tipo Iris-setosa com 100% de probabilidade entre os 3 tipos de espécies.

In [ ]:
a = 5.1 #SepalLength
b = 3.5 #SepalWidth
c = 1.4 #PetalLength
d = 0.2 #PetalWidth

test = np.array([[a,b,c,d]])
knn.predict(test),knn.predict_proba(test)

(array(['Iris-setosa'], dtype=object), array([[1., 0., 0.]]))

## Técnicas de Validação

### Matriz de Confusão

#### Para demostrar a confusão entre as espécies. Por exemplo: Iris-setosa não confundiu nenhunma vez com as outras classes, ou sejas, acertou todas. Iris-versicolor confundiu uma vez com Iris-virginica.

In [ ]:
print (pd.crosstab(y_test,resultado, rownames=['Real'], colnames=['Predito'], margins=True))

Predito          Iris-setosa  Iris-versicolor  Iris-virginica  All
Real
Iris-setosa               17                0               0   17
Iris-versicolor            0               13               0   13
Iris-virginica             0                1              14   15
All                       17               14              14   45

### Metricas de classificação

In [ ]:
from sklearn import metrics
print(metrics.classification_report(y_test,resultado,target_names=iris['Species'].unique()))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        17
Iris-versicolor       0.93      1.00      0.96        13
 Iris-virginica       1.00      0.93      0.97        15

       accuracy                           0.98        45
      macro avg       0.98      0.98      0.98        45
   weighted avg       0.98      0.98      0.98        45